# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives*
- Data Science Tools
- Language of Data Science
- Data Libraries
- Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciPy
4. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Jupyter Lab |
| Apache Zeppeline |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [11]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Amajit Mitra